@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --colorprimary: #73B698;
  --colorsecondary: #A49BBF;
  --coloraccent: #EEC194;
  --colortext: #161725;
  --colorbg: #FEFEFD;
  --ff: "DM Sans", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: calc(16px + 0.390625vw);
  font-family: var(--ff);
}

body {
  background-color: var(--colorbg);
  display: flex;
  align-items: center;
  gap: 4vw;
}

h1,
h2,
h3 {
  color: var(--colortext);
}

h1 {
  font-weight: bold;
  font-size: 7rem;
  line-height: 1;
  margin: 0vw;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0vw;
  margin-bottom: 3vw;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0vw 1vw;
  color: var(--colortext);
}

.secondary-text {
  font-weight: bold;
  color: var(--colorsecondary);
}

a {
  margin-top: 2vw;
  display: inline-block;
  font: var(--h3);
  font-weight: bold;
  color: var(--colortext);
  background-color: var(--colorprimary);
  padding: 15px 30px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 3vw;
  border: 1vw solid var(--coloraccent);
  filter: blur(0.1vw);
  scale: 50%;
}

.text {
  margin-left: 5vw;
}
